# Day 3 - A Deeper Insight into DataFrames

Link to <a href="https://spark.apache.org/docs/2.4.5/api/python/index.html">pyspark Doc</a>

My mission for today is to get a better understandig of `DataFrame` objects, their structure and how to operate with them. Since handling data of different shapes was always a challange in my life as ETL developer so far, I start with the schema topic, which already came across yesterday.

## Schemas

So far, I've learned two things about schemas in Spark. First, they define the names and types of `DataFrame` `Columns`. However Spark is using internal types of its Catalyst language regardless of the API language I'm using. Second, I can ask Spark to derive the schema from a source file or I can explicitly define the schema of the data I want to process.

Spark derives the schema by just reading a small sample of data in the file, which might not be representitive enough for the entire dataset. So maybe for production purposes it might be a better idea to express my expectation explicitly of how the data I want to process and analyse is actually shaped.

How does schemas look like in Spark? The`printSchema()` function will help me.

In [1]:
import pyspark
from pyspark.sql import SparkSession
spark = SparkSession\
   .builder\
   .getOrCreate()

csvData = spark.read\
   .option("header", "true")\
   .option("inferSchema", "true")\
   .format("csv")\
   .load("./data/day-003/flight-data/2015-summary.csv")\
   .printSchema()

root
 |-- DEST_COUNTRY_NAME: string (nullable = true)
 |-- ORIGIN_COUNTRY_NAME: string (nullable = true)
 |-- count: integer (nullable = true)

In [2]:
jsonData = spark.read\
   .option("inferSchema", "true")\
   .format("json")\
   .load("./data/day-003/flight-data/2015-summary.json")\
   .printSchema()

root
 |-- DEST_COUNTRY_NAME: string (nullable = true)
 |-- ORIGIN_COUNTRY_NAME: string (nullable = true)
 |-- count: long (nullable = true)

Ok, the first thing I notice here is, even though both files have different format, CSV vs. JSON, they have nearly identical schema, i.e. having the same column names and types. The only difference is, that  Spark interprets values in the CSV file as strings and not as `long` numbers.



To find out how to define a schema in Spark, I have look at, how Spark does it.

In [3]:
spark.read\
   .option("header", "true")\
   .format("csv")\
   .load("./data/day-003/flight-data/2015-summary.csv")\
   .schema

StructType(List(StructField(DEST_COUNTRY_NAME,StringType,true),StructField(ORIGIN_COUNTRY_NAME,StringType,true),StructField(count,StringType,true)))

In [4]:
spark.read\
   .format("json")\
   .load("./data/day-003/flight-data/2015-summary.json")\
   .schema

StructType(List(StructField(DEST_COUNTRY_NAME,StringType,true),StructField(ORIGIN_COUNTRY_NAME,StringType,true),StructField(count,LongType,true)))

Now I have the blueprints to create similar schemas by myself, e.g. to define the "count" column as optional. One tricky aspect here is, that to define a schema I need to call the constructor methods of the Spark internal types, e.g. `StringType()`, just using the typename like `StringType` won't work.

In [5]:
from pyspark.sql.types import StructField, StructType, StringType, LongType

myOwnCsv = StructType([
    StructField("DEST_COUNTRY_NAME",StringType(),True),
    StructField("ORIGIN_COUNTRY_NAME",StringType(),True),
    StructField("count",StringType(),False)
])

myOwnJson = StructType([
    StructField("DEST_COUNTRY_NAME",StringType(),True),
    StructField("ORIGIN_COUNTRY_NAME",StringType(),True),
    StructField("count",LongType(),False)
])

Since my schema definitions are less restrictive, the file load should also work when I enforce them explicitly by calling the `schema()` function.

In [6]:
spark.read\
   .option("header", "true")\
   .format("csv")\
   .schema(myOwnCsv)\
   .load("./data/day-003/flight-data/2015-summary.csv")\
   .show(5)

+-----------------+-------------------+-----+
|DEST_COUNTRY_NAME|ORIGIN_COUNTRY_NAME|count|
+-----------------+-------------------+-----+
|    United States|            Romania|   15|
|    United States|            Croatia|    1|
|    United States|            Ireland|  344|
|            Egypt|      United States|   15|
|    United States|              India|   62|
+-----------------+-------------------+-----+
only showing top 5 rows

In [7]:
spark.read\
   .format("json")\
   .schema(myOwnJson)\
   .load("./data/day-003/flight-data/2015-summary.json")\
   .show(5)

+-----------------+-------------------+-----+
|DEST_COUNTRY_NAME|ORIGIN_COUNTRY_NAME|count|
+-----------------+-------------------+-----+
|    United States|            Romania|   15|
|    United States|            Croatia|    1|
|    United States|            Ireland|  344|
|            Egypt|      United States|   15|
|    United States|              India|   62|
+-----------------+-------------------+-----+
only showing top 5 rows

And they do.
## Columns and Expressions
The `DataFrame` API provides two ways how to create `Column` objects using either the `col()` or the `expr()` function, which confuses me at first sight. If I apply both of them on the "count" column of my test data, I get exactly the same result.

In [9]:
from pyspark.sql.functions  import col, expr
df = spark.read\
   .option("header", "true")\
   .format("csv")\
   .schema(myOwnCsv)\
   .load("./data/day-003/flight-data/2015-summary.csv")

In [10]:
df.select("ORIGIN_COUNTRY_NAME", "count", col("count") -10).show(5)

+-------------------+-----+------------+
|ORIGIN_COUNTRY_NAME|count|(count - 10)|
+-------------------+-----+------------+
|            Romania|   15|         5.0|
|            Croatia|    1|        -9.0|
|            Ireland|  344|       334.0|
|      United States|   15|         5.0|
|              India|   62|        52.0|
+-------------------+-----+------------+
only showing top 5 rows

In [12]:
df.select("ORIGIN_COUNTRY_NAME", "count", expr("count - 10")).show(5)

+-------------------+-----+------------+
|ORIGIN_COUNTRY_NAME|count|(count - 10)|
+-------------------+-----+------------+
|            Romania|   15|         5.0|
|            Croatia|    1|        -9.0|
|            Ireland|  344|       334.0|
|      United States|   15|         5.0|
|              India|   62|        52.0|
+-------------------+-----+------------+
only showing top 5 rows

Ok Spark, explain to me what's going on behind the scenes.

In [13]:
df.select("ORIGIN_COUNTRY_NAME", "count", col("count") - 10).explain()

== Physical Plan ==
*(1) Project [ORIGIN_COUNTRY_NAME#95, count#96, (cast(count#96 as double) - 10.0) AS (count - 10)#132]
+- *(1) FileScan csv [ORIGIN_COUNTRY_NAME#95,count#96] Batched: false, Format: CSV, Location: InMemoryFileIndex[file:/home/oli/github/pyspark-tutorial/data/day-003/flight-data/2015-summary.csv], PartitionFilters: [], PushedFilters: [], ReadSchema: struct<ORIGIN_COUNTRY_NAME:string,count:string>

In [14]:
df.select("ORIGIN_COUNTRY_NAME", "count", expr("count - 10")).explain()

== Physical Plan ==
*(1) Project [ORIGIN_COUNTRY_NAME#95, count#96, (cast(count#96 as double) - 10.0) AS (count - 10)#136]
+- *(1) FileScan csv [ORIGIN_COUNTRY_NAME#95,count#96] Batched: false, Format: CSV, Location: InMemoryFileIndex[file:/home/oli/github/pyspark-tutorial/data/day-003/flight-data/2015-summary.csv], PartitionFilters: [], PushedFilters: [], ReadSchema: struct<ORIGIN_COUNTRY_NAME:string,count:string>

In [15]:
df.selectExpr("ORIGIN_COUNTRY_NAME", "count", "count - 10").explain()

== Physical Plan ==
*(1) Project [ORIGIN_COUNTRY_NAME#95, count#96, (cast(count#96 as double) - 10.0) AS (count - 10)#140]
+- *(1) FileScan csv [ORIGIN_COUNTRY_NAME#95,count#96] Batched: false, Format: CSV, Location: InMemoryFileIndex[file:/home/oli/github/pyspark-tutorial/data/day-003/flight-data/2015-summary.csv], PartitionFilters: [], PushedFilters: [], ReadSchema: struct<ORIGIN_COUNTRY_NAME:string,count:string>

In [16]:
df.createOrReplaceTempView("table")
spark.sql("""SELECT ORIGIN_COUNTRY_NAME, count, count -10 FROM table""").explain()

== Physical Plan ==
*(1) Project [ORIGIN_COUNTRY_NAME#95, count#96, (cast(count#96 as double) - 10.0) AS (CAST(count AS DOUBLE) - CAST(10 AS DOUBLE))#144]
+- *(1) FileScan csv [ORIGIN_COUNTRY_NAME#95,count#96] Batched: false, Format: CSV, Location: InMemoryFileIndex[file:/home/oli/github/pyspark-tutorial/data/day-003/flight-data/2015-summary.csv], PartitionFilters: [], PushedFilters: [], ReadSchema: struct<ORIGIN_COUNTRY_NAME:string,count:string>

As I've learned on day 2, any functional transformation on `DataFrame` objects is equivalent to SQL queries on tables, so `col("columnName")` is equivalent to the projection in relational algebra in terms of, take the third data element of each record (row). So finally there are three equivalent ways how to express transformations in Spark:
* as a composition of funtion: `select(col("count") - 10)`
* as an expression String: `select(expr("count - 10")* or *selectExpr("count - 10"))`
* as SQL query: `sql("""SELECT count - 10 FROM""")`

## DataFrame Metadata
`DataFrame` objects have attributes describing their metadata. The attribute `column` provides a list of all column names of the given `DataFrame`. Python lists are iterable objects so I can use this attribute to iterate over all column names of a `DataFrame`.

In [21]:
df.columns

['DEST_COUNTRY_NAME', 'ORIGIN_COUNTRY_NAME', 'count']

If I need the data types as well, I can use the attribute `dtypes` instead.

In [22]:
df.dtypes

[('DEST_COUNTRY_NAME', 'string'),
 ('ORIGIN_COUNTRY_NAME', 'string'),
 ('count', 'string')]

The number of rows in the `DataFrame`.

In [18]:
df.count()

256

Some basic statistics about the column values are also available for data profiling

In [20]:
df.describe().show()

+-------+-----------------+-------------------+------------------+
|summary|DEST_COUNTRY_NAME|ORIGIN_COUNTRY_NAME|             count|
+-------+-----------------+-------------------+------------------+
|  count|              256|                256|               256|
|   mean|             null|               null|       1770.765625|
| stddev|             null|               null|23126.516918551915|
|    min|          Algeria|             Angola|                 1|
|    max|           Zambia|            Vietnam|               986|
+-------+-----------------+-------------------+------------------+

In [24]:
df.summary().show()

+-------+-----------------+-------------------+------------------+
|summary|DEST_COUNTRY_NAME|ORIGIN_COUNTRY_NAME|             count|
+-------+-----------------+-------------------+------------------+
|  count|              256|                256|               256|
|   mean|             null|               null|       1770.765625|
| stddev|             null|               null|23126.516918551915|
|    min|          Algeria|             Angola|                 1|
|    25%|             null|               null|              14.0|
|    50%|             null|               null|              63.0|
|    75%|             null|               null|             268.0|
|    max|           Zambia|            Vietnam|               986|
+-------+-----------------+-------------------+------------------+

## Records and Rows

Records are logical sets of related data values. In Spark they are technically represented by `Row` objects.

Spark `DataFrame` objects are collections of `Row` objects all having the same structure according to the schema of the `DataFrame`. I can create a `Row` object by myself, even independently from any schema or the existens of a `DataFrame`, which is not possible for `Column` objects.

In [27]:
from pyspark.sql import Row
myOwnRow = Row(42, "is the answer to all questions", True)
type(myOwnRow)

pyspark.sql.types.Row

There is now `DataFrame` so no schema yet, but I have a row now. Like with Python lists I can access the `Row` data elements by their positional index starting with 0 for the first element.

In [28]:
myOwnRow[1]

'is the answer to all questions'

Well, the schema comes back into place as soon as I want to collect multiple records into the same `DataFrame` because than, all records must comply with the same schema.

Next to creating DataFrames on the fly from source files, like I did so far, I could also create my `DataFrame` by my own. This get's relevant to me, when there is no data source because I created the data by myself, e.g. simulated scenario data. All I need to is creating a schema, like I did on day 2 an some `Row` objects like I created just before and compile both into a `DataFrame`.

In [29]:
from pyspark.sql.types import LongType, StringType, BooleanType

myOwnSchema = StructType([
    StructField("ID", LongType(), True),
    StructField("Message", StringType(), True),
    StructField("is true or false", BooleanType(), True),
])

In [30]:
mySecondRow = Row(73, "is a prime number", True)

In [31]:
myDF = spark.createDataFrame([myOwnRow, mySecondRow], myOwnSchema)
myDF.show()

+---+--------------------+----------------+
| ID|             Message|is true or false|
+---+--------------------+----------------+
| 42|is the answer to ...|            true|
| 73|   is a prime number|            true|
+---+--------------------+----------------+

The `DataFrame` custructor `createDataFrame()` accepts a list of `Row` objects, so I don't have to insert rows manually one-by-one but can handover a list objects which I've maybe generated at another place in my code.

> **Note:** 
> By default, `show()` truncates strings longer than 20 characters.  setting this paramter to FALS or I can 
> define another number of character limit

In [39]:
rowList = [myOwnRow, mySecondRow]
myDF = spark.createDataFrame(rowList, myOwnSchema)
myDF.show(truncate=False)

+---+------------------------------+----------------+
|ID |Message                       |is true or false|
+---+------------------------------+----------------+
|42 |is the answer to all questions|true            |
|73 |is a prime number             |true            |
+---+------------------------------+----------------+

In [61]:
myDF.show(truncate=25)

+---+-------------------------+----------------+
| ID|                  Message|is true or false|
+---+-------------------------+----------------+
| 42|is the answer to all q...|            true|
| 73|        is a prime number|            true|
+---+-------------------------+----------------+

## DataFrame Transformations
Eventhough rows are individual objects, Spark does not manipulate them individually. To keep mass data processing fast, `Row` objects are manipulated by column expressions applied on `DataFrame`, which in fact are collections of `Row` objects. Again this is equivalent to the relational algebra of SQL SELECT queries. Here are some common example, I'm familiar with in SQL, but how do they look like in the functional format?
### Adding a Column with Literal Values

In [40]:
from pyspark.sql.functions import lit

myDF\
   .select(col("ID"), col("Message"))\
   .withColumn("literal", lit(23))\
   .show(truncate=False)

+---+------------------------------+-------+
|ID |Message                       |literal|
+---+------------------------------+-------+
|42 |is the answer to all questions|23     |
|73 |is a prime number             |23     |
+---+------------------------------+-------+

Alternatively, I could use `alias()` instead and create the new column inside of `select()`.

In [41]:
myDF\
   .select(col("ID"), col("Message"), lit(23).alias("literal"))\
   .show(truncate=False)

+---+------------------------------+-------+
|ID |Message                       |literal|
+---+------------------------------+-------+
|42 |is the answer to all questions|23     |
|73 |is a prime number             |23     |
+---+------------------------------+-------+

I appreaciate the readability when using `withColumn()`, especually in more complex queries. On the other hand it is less flexible because new columns get always appended to the right whereas with the second approach, using `alias()`, I can put the new `Column` at any position in the `DataFrame`.

In [42]:
myDF\
   .select(col("ID"), lit(23).alias("literal"), col("Message"))\
   .show(truncate=False)

+---+-------+------------------------------+
|ID |literal|Message                       |
+---+-------+------------------------------+
|42 |23     |is the answer to all questions|
|73 |23     |is a prime number             |
+---+-------+------------------------------+

### Adding a Calculated Column

In [43]:
myDF\
   .select(col("ID"), col("Message"))\
   .withColumn("Calculated ID", col("ID") * 100)\
   .show(truncate=False)

+---+------------------------------+-------------+
|ID |Message                       |Calculated ID|
+---+------------------------------+-------------+
|42 |is the answer to all questions|4200         |
|73 |is a prime number             |7300         |
+---+------------------------------+-------------+

In [44]:
myDF\
   .select(col("ID"), col("Message"), (col("ID") * 100).alias("ID calculated"))\
   .show(truncate=False)

+---+------------------------------+-------------+
|ID |Message                       |ID calculated|
+---+------------------------------+-------------+
|42 |is the answer to all questions|4200         |
|73 |is a prime number             |7300         |
+---+------------------------------+-------------+

In both versions the new Column "ID Calculated" is the result of three consecutive expressions
* `col("ID")`, i.e. take first data element of each row in the input DataFrame
* `* 100`, i.e. multiply each data value by 100
* `alias("ID calculated")` to rename the new column

The first two are data manipulating whereas the third one manipulates the metadata of the `DataFrame`

### Renaming Columns

In [38]:
myDF\
   .select(col("ID"), col("Message"))\
   .withColumnRenamed("ID", "Identifier")\
   .show(truncate=False)

+----------+------------------------------+
|Identifier|Message                       |
+----------+------------------------------+
|42        |is the answer to all questions|
|73        |is a prime number             |
+----------+------------------------------+

In [45]:
myDF\
   .select(col("ID").alias("Identifier"), col("Message"))\
   .show(truncate=False)

+----------+------------------------------+
|Identifier|Message                       |
+----------+------------------------------+
|42        |is the answer to all questions|
|73        |is a prime number             |
+----------+------------------------------+

In my opinion, the Spark syntax regarding column names is quite misleading. Even though I have to put the column name argument in quotation marks and eventhough the output shows me the column name with exactly the same upper/lower cases, as I defined it, Spark is **NOT** case sensitive.

In [46]:
myDF\
   .select(col("Message"), col("MESSAGE"))\
   .show(truncate=False)

+------------------------------+------------------------------+
|Message                       |MESSAGE                       |
+------------------------------+------------------------------+
|is the answer to all questions|is the answer to all questions|
|is a prime number             |is a prime number             |
+------------------------------+------------------------------+

However, I can switch to case sensitivity by changing the `SparkSession` configuration.

In [57]:
spark.conf.set("spark.sql.caseSensitive", "true")

In [58]:
myDF\
   .select(col("ID"), (col("ID") * 100).alias("id"))\
   .select(col("id"))\
   .show()

+----+
|  id|
+----+
|4200|
|7300|
+----+

Column names with reserved character or keywords can also be very tricky because, as I've seen befor, Spark does not interprete everything in quation marks literally as strings.

In [47]:
dfWithSpecialNames = myDF\
   .select(col("ID"), col("Message"))\
   .withColumn("ID * by 100", col("ID") * 100)

dfWithSpecialNames.show(truncate=False)

+---+------------------------------+-----------+
|ID |Message                       |ID * by 100|
+---+------------------------------+-----------+
|42 |is the answer to all questions|4200       |
|73 |is a prime number             |7300       |
+---+------------------------------+-----------+

The question is, how can I reference the third column without getting problems. First of all the direct string to column reference by using `col()` works fine.

In [60]:
dfWithSpecialNames\
   .select(col("ID * by 100"))\
   .show()

+-----------+
|ID * by 100|
+-----------+
|       4200|
|       7300|
+-----------+

In [61]:
dfWithSpecialNames\
   .select(col("ID * by 100") * 100)\
   .show()

+-------------------+
|(ID * by 100 * 100)|
+-------------------+
|             420000|
|             730000|
+-------------------+

Does this reference also work in expression strings?

In [62]:
dfWithSpecialNames\
   .selectExpr("ID * by 100  * 100")\
   .show()

ParseException: "\nmismatched input '100' expecting <EOF>(line 1, pos 8)\n\n== SQL ==\nID * by 100  * 100\n--------^^^\n"

Ups, something got broken. Now it is undefined, which parts of the expression string are operators and which are literal stings valus.  This problem will get very relevant when it comes to filter or join conditions, so I need a solution. Spark provides the back stick character to escape the column name strings.

In [63]:
dfWithSpecialNames\
   .selectExpr("`ID * by 100`  * 100")\
   .show()

+-------------------+
|(ID * by 100 * 100)|
+-------------------+
|             420000|
|             730000|
+-------------------+

Well, my lessons learned her is: avoid blanks, reserved characters or keywords in column names whenever possible.
### Removing Columns
In the SQL world, there is a shortcut to grep all columns using the wildcard, which is very comfortable querying a table with, e.g. 100 columns. What I'm realy missing, is the option to exclude just one or two columns and get the remaining 98 columns without having to list them all in the SELECT clause. So I'm very happy to see that Spark provides me this feature by the `drop()` function.

In [48]:
dfWithSpecialNames.drop("ID * by 100").show(truncate=False)

+---+------------------------------+
|ID |Message                       |
+---+------------------------------+
|42 |is the answer to all questions|
|73 |is a prime number             |
+---+------------------------------+

### Filtering Rows
Spark provides in total four ways of filtering rows. First, the two methonds `filter()` and `where()` are synonyms in pyspark. Second, the filter condition can either be a boolean column created by column manipualtion or an expression string, which evaluates to True or False.

In [65]:
dfWithSpecialNames.filter(col("ID") == 42).show(truncate=False)

+---+--------------------+-----------+
| ID|             Message|ID * by 100|
+---+--------------------+-----------+
| 42|is the answer to ...|       4200|
+---+--------------------+-----------+

In [66]:
dfWithSpecialNames.filter("ID = 42").show(truncate=False)

+---+--------------------+-----------+
| ID|             Message|ID * by 100|
+---+--------------------+-----------+
| 42|is the answer to ...|       4200|
+---+--------------------+-----------+

In [67]:
dfWithSpecialNames.where(col("ID") == 42).show(truncate=False)

+---+--------------------+-----------+
| ID|             Message|ID * by 100|
+---+--------------------+-----------+
| 42|is the answer to ...|       4200|
+---+--------------------+-----------+

In [68]:
dfWithSpecialNames.where("ID == 42").show(truncate=False)

+---+--------------------+-----------+
| ID|             Message|ID * by 100|
+---+--------------------+-----------+
| 42|is the answer to ...|       4200|
+---+--------------------+-----------+

I think, the last version looks most familiar to me as an senior SQL user. A nice feature is, that I can chain up multiple AND filters, which is more readable than complex in-line expression.

In [69]:
dfWithSpecialNames\
    .where("ID == 42")\
    .where("`ID * by 100`== 4200")\
    .show(truncate=False)

+---+--------------------+-----------+
| ID|             Message|ID * by 100|
+---+--------------------+-----------+
| 42|is the answer to ...|       4200|
+---+--------------------+-----------+

In [70]:
dfWithSpecialNames\
    .where("ID == 42 and `ID * by 100`== 4200")\
    .show(truncate=False)

+---+--------------------+-----------+
| ID|             Message|ID * by 100|
+---+--------------------+-----------+
| 42|is the answer to ...|       4200|
+---+--------------------+-----------+

Nevertheless, ass soon as OR comes into place, there is no choice anymore.

In [71]:
dfWithSpecialNames\
    .where("ID == 42 or ID == 73")\
    .show(truncate=False)

+---+--------------------+-----------+
| ID|             Message|ID * by 100|
+---+--------------------+-----------+
| 42|is the answer to ...|       4200|
| 73|   is a prime number|       7300|
+---+--------------------+-----------+

Filter expressions can get quite complex and hard to read. Maybe I want to reuse them multiple times in my code and re-writing them all the times makes me pain. Fortunately I have the option to pre-define filter expressions and giving them more self-explaining names, from business point of view. Doing so I can reference these filters by their names in my queries, making them much more readable and the filter expressions reusable.

So my question as a Sales Manager could be: which invoices from the Scandinavian market contain high volumn orders?

In [72]:
from pyspark.sql.functions import col, instr

# loading data from CSV source
dfRetail = spark.read\
    .format("csv")\
    .option("header", "true")\
    .option("inferSchema", "true")\
    .load("./data/day-003/retail-data/by-day/*.csv")

# named filter expressions evaluating to Boolean
highVolumeOrder = (col("Quantity") >= 40) & (col("UnitPrice") >= 1.50)
Scandinavia = (col("Country") == "Norway") \
               | (col("Country") == "Sweden") \
               | (col("Country") == "Denmark") \
               | (col("Country") == "Finland")

# the query answering my question
dfRetail.where(highVolumeOrder & Scandinavia)\
    .select("InvoiceNo", "Country")\
    .distinct()\
    .show(10)

+---------+-------+
|InvoiceNo|Country|
+---------+-------+
|   540040| Sweden|
|   560549|Finland|
|   580704| Sweden|
|   559145| Sweden|
|   546780|Denmark|
|   541756|Finland|
|   538003|Denmark|
|   536532| Norway|
|   576083| Sweden|
|   552957| Sweden|
+---------+-------+
only showing top 10 rows

### Random Samples and Split

In [50]:
import pyspark
import random

from pyspark.sql import SparkSession
spark = SparkSession\
   .builder\
   .getOrCreate()

df = spark.read\
   .format("csv")\
   .option("header", "true")\
   .option("inferSchema", "true")\
   .load("./data/day-003/retail-data/by-day/*.csv")

df.count()

541909

In [51]:
seed = random.seed()
withReplacement = False
fraction = 0.1 # i.e. 10%

In [52]:
df.sample(withReplacement, fraction, seed).count()

54290

In [53]:
df.sample(withReplacement, fraction, seed).show(5)

+---------+---------+--------------------+--------+-------------------+---------+----------+--------------+
|InvoiceNo|StockCode|         Description|Quantity|        InvoiceDate|UnitPrice|CustomerID|       Country|
+---------+---------+--------------------+--------+-------------------+---------+----------+--------------+
|   580538|    23077| DOUGHNUT LIP GLOSS |      20|2011-12-05 08:38:00|     1.25|   14075.0|United Kingdom|
|   580539|    23239|SET OF 4 KNICK KN...|       6|2011-12-05 08:39:00|     1.65|   18180.0|United Kingdom|
|   580539|    22075|6 RIBBONS ELEGANT...|      24|2011-12-05 08:39:00|     0.39|   18180.0|United Kingdom|
|   580539|    22389|PAPERWEIGHT SAVE ...|      12|2011-12-05 08:39:00|     0.39|   18180.0|United Kingdom|
|   580541|    23166|MEDIUM CERAMIC TO...|      12|2011-12-05 09:03:00|     1.25|   15358.0|United Kingdom|
+---------+---------+--------------------+--------+-------------------+---------+----------+--------------+
only showing top 5 rows

Spark's `ramdomSplit()` feature can be very usefull if I want to train a neural network model where spliting up a dataset by random into two samples, the training data and the test data, is an important datap reparation step.

In [54]:
seed = random.seed()
mlData = df.randomSplit([0.8, 0.2], seed)
traingData = mlData[0]
testData = mlData[1]

### Other DataFrame Transformations
The following functions are nearly the same as I already know from SQL. So I skip them here.

* `df1.count()`
* `df1.distinct().count()`
* `df1.union(df2)`
* `df1.orderBy(... desc, ... asc)`

### Repartitioning Data
As I've learnd on day 2, wide transformations, forces Spark to shuffel data across the cluster which can end up in performance issues since Spark cannot do it in-memory. Therefore I can improve the performance, if I partition the data according to my expected query patterns. 

Ok, let's see how Spark has partitioned my data, I've read from the daily retail csv files.

In [55]:
df.rdd.getNumPartitions()

12

Currently there are 12 partitions. I want to optimaize the partitioning for queries on stock codes. How many Stock codes do I have?

In [56]:
df.select("StockCode").distinct().count()

4070

One option would be, to raise the number of partitions. But this doesn't help if I have not enough CPU cores.

In [57]:
# df.repartition(100)

Furthermore, just raising the number of partitions would not ensure, that all rows having the same StockCode value which reside in the same partition. The later is the crucial point to gain partition locality of the query processing. So I have to define the StockCode column as partition criteria.

In [58]:
df.repartition("StockCode")

DataFrame[InvoiceNo: string, StockCode: string, Description: string, Quantity: int, InvoiceDate: timestamp, UnitPrice: double, CustomerID: double, Country: string]

Nevertheless, If I had some further CPU cores at hand, can raise the number of partitions additionally.

In [59]:
df.repartition(20, "StockCode")

DataFrame[InvoiceNo: string, StockCode: string, Description: string, Quantity: int, InvoiceDate: timestamp, UnitPrice: double, CustomerID: double, Country: string]

### Collecting Rows to Local Driver
Especially when I do some ad-hoc analysis of the data on my local machine, it is quite usefull to limit the data I' fetching from the cluster.

`collect()` returns all the records as a list of `Row` objects. In Python, lists are iterable sequences.

In [83]:
df.collect()

[Row(InvoiceNo='580538', StockCode='23084', Description='RABBIT NIGHT LIGHT', Quantity=48, InvoiceDate=datetime.datetime(2011, 12, 5, 8, 38), UnitPrice=1.79, CustomerID=14075.0, Country='United Kingdom'),
 Row(InvoiceNo='580538', StockCode='23077', Description='DOUGHNUT LIP GLOSS ', Quantity=20, InvoiceDate=datetime.datetime(2011, 12, 5, 8, 38), UnitPrice=1.25, CustomerID=14075.0, Country='United Kingdom'),
 Row(InvoiceNo='580538', StockCode='22906', Description='12 MESSAGE CARDS WITH ENVELOPES', Quantity=24, InvoiceDate=datetime.datetime(2011, 12, 5, 8, 38), UnitPrice=1.65, CustomerID=14075.0, Country='United Kingdom'),
 Row(InvoiceNo='580538', StockCode='21914', Description='BLUE HARMONICA IN BOX ', Quantity=24, InvoiceDate=datetime.datetime(2011, 12, 5, 8, 38), UnitPrice=1.25, CustomerID=14075.0, Country='United Kingdom'),
 Row(InvoiceNo='580538', StockCode='22467', Description='GUMBALL COAT RACK', Quantity=6, InvoiceDate=datetime.datetime(2011, 12, 5, 8, 38), UnitPrice=2.55, CustomerID=14075.0, Country='United Kingdom'),
 Row(InvoiceNo='580538', StockCode='21544', Description='SKULLS  WATER TRANSFER TATTOOS ', Quantity=48, InvoiceDate=datetime.datetime(2011, 12, 5, 8, 38), UnitPrice=0.85, CustomerID=14075.0, Country='United Kingdom'),
 Row(InvoiceNo='580538', StockCode='23126', Description='FELTCRAFT GIRL AMELIE KIT', Quantity=8, InvoiceDate=datetime.datetime(2011, 12, 5, 8, 38), UnitPrice=4.95, CustomerID=14075.0, Country='United Kingdom'),
 Row(InvoiceNo='580538', StockCode='21833', Description='CAMOUFLAGE LED TORCH', Quantity=24, InvoiceDate=datetime.datetime(2011, 12, 5, 8, 38), UnitPrice=1.69, CustomerID=14075.0, Country='United Kingdom'),
 Row(InvoiceNo='580539', StockCode='21479', Description='WHITE SKULL HOT WATER BOTTLE ', Quantity=4, InvoiceDate=datetime.datetime(2011, 12, 5, 8, 39), UnitPrice=4.25, CustomerID=18180.0, Country='United Kingdom'),
 Row(InvoiceNo='580539', StockCode='84030E', Description='ENGLISH ROSE HOT WATER BOTTLE', Quantity=4, InvoiceDate=datetime.datetime(2011, 12, 5, 8, 39), UnitPrice=4.25, CustomerID=18180.0, Country='United Kingdom'),
 Row(InvoiceNo='580539', StockCode='23355', Description='HOT WATER BOTTLE KEEP CALM', Quantity=4, InvoiceDate=datetime.datetime(2011, 12, 5, 8, 39), UnitPrice=4.95, CustomerID=18180.0, Country='United Kingdom'),
 Row(InvoiceNo='580539', StockCode='22111', Description='SCOTTIE DOG HOT WATER BOTTLE', Quantity=3, InvoiceDate=datetime.datetime(2011, 12, 5, 8, 39), UnitPrice=4.95, CustomerID=18180.0, Country='United Kingdom'),
 Row(InvoiceNo='580539', StockCode='21115', Description='ROSE CARAVAN DOORSTOP', Quantity=8, InvoiceDate=datetime.datetime(2011, 12, 5, 8, 39), UnitPrice=1.95, CustomerID=18180.0, Country='United Kingdom'),
 Row(InvoiceNo='580539', StockCode='21411', Description='GINGHAM HEART  DOORSTOP RED', Quantity=8, InvoiceDate=datetime.datetime(2011, 12, 5, 8, 39), UnitPrice=1.95, CustomerID=18180.0, Country='United Kingdom'),
 Row(InvoiceNo='580539', StockCode='23235', Description='STORAGE TIN VINTAGE LEAF', Quantity=12, InvoiceDate=datetime.datetime(2011, 12, 5, 8, 39), UnitPrice=1.25, CustomerID=18180.0, Country='United Kingdom'),
 Row(InvoiceNo='580539', StockCode='23239', Description='SET OF 4 KNICK KNACK TINS POPPIES', Quantity=6, InvoiceDate=datetime.datetime(2011, 12, 5, 8, 39), UnitPrice=1.65, CustomerID=18180.0, Country='United Kingdom'),
 Row(InvoiceNo='580539', StockCode='22197', Description='POPCORN HOLDER', Quantity=36, InvoiceDate=datetime.datetime(2011, 12, 5, 8, 39), UnitPrice=0.85, CustomerID=18180.0, Country='United Kingdom'),
 Row(InvoiceNo='580539', StockCode='22693', Description='GROW A FLYTRAP OR SUNFLOWER IN TIN', Quantity=24, InvoiceDate=datetime.datetime(2011, 12, 5, 8, 39), UnitPrice=1.25, CustomerID=18180.0, Country='United Kingdom'),
 Row(InvoiceNo='580539', StockCode='22372', Description='AIRLINE BAG VINTAGE WORLD CHAMPION ', Quantity=4, InvoiceDate=datetime.datetime(2011, 12, 5, 8, 39), UnitPrice=4.25, CustomerID=18180.0, Country='United Kingdom'),
 Row(InvoiceNo='580539', StockCode='22375', Description='AIRLINE BAG VINTAGE JET SET BROWN', Quantity=4, InvoiceDate=datetime.datetime(2011, 12, 5, 8, 39), UnitPrice=4.25, CustomerID=18180.0, Country='United Kingdom'),
 Row(InvoiceNo='580539', StockCode='22074', Description='6 RIBBONS SHIMMERING PINKS ', Quantity=24, InvoiceDate=datetime.datetime(2011, 12, 5, 8, 39), UnitPrice=0.39, CustomerID=18180.0, Country='United Kingdom'),
 Row(InvoiceNo='580539', StockCode='22075', Description='6 RIBBONS ELEGANT CHRISTMAS ', Quantity=24, InvoiceDate=datetime.datetime(2011, 12, 5, 8, 39), UnitPrice=0.39, CustomerID=18180.0, Country='United Kingdom'),
 Row(InvoiceNo='580539', StockCode='22076', Description='6 RIBBONS EMPIRE  ', Quantity=24, InvoiceDate=datetime.datetime(2011, 12, 5, 8, 39), UnitPrice=0.39, CustomerID=18180.0, Country='United Kingdom'),
 Row(InvoiceNo='580539', StockCode='22389', Description='PAPERWEIGHT SAVE THE PLANET', Quantity=12, InvoiceDate=datetime.datetime(2011, 12, 5, 8, 39), UnitPrice=0.39, CustomerID=18180.0, Country='United Kingdom'),
 Row(InvoiceNo='580539', StockCode='22391', Description='PAPERWEIGHT HOME SWEET HOME', Quantity=12, InvoiceDate=datetime.datetime(2011, 12, 5, 8, 39), UnitPrice=0.39, CustomerID=18180.0, Country='United Kingdom'),
 Row(InvoiceNo='580539', StockCode='22393', Description='PAPERWEIGHT VINTAGE COLLAGE', Quantity=12, InvoiceDate=datetime.datetime(2011, 12, 5, 8, 39), UnitPrice=0.39, CustomerID=18180.0, Country='United Kingdom'),
 Row(InvoiceNo='580539', StockCode='22395', Description='PAPERWEIGHT VINTAGE PAISLEY', Quantity=12, InvoiceDate=datetime.datetime(2011, 12, 5, 8, 39), UnitPrice=0.39, CustomerID=18180.0, Country='United Kingdom'),
 Row(InvoiceNo='580539', StockCode='22481', Description='BLACK TEA TOWEL CLASSIC DESIGN', Quantity=12, InvoiceDate=datetime.datetime(2011, 12, 5, 8, 39), UnitPrice=0.39, CustomerID=18180.0, Country='United Kingdom'),
 Row(InvoiceNo='580539', StockCode='23320', Description="GIANT 50'S CHRISTMAS CRACKER", Quantity=12, InvoiceDate=datetime.datetime(2011, 12, 5, 8, 39), UnitPrice=1.25, CustomerID=18180.0, Country='United Kingdom'),
 Row(InvoiceNo='580539', StockCode='23543', Description='WALL ART KEEP CALM ', Quantity=6, InvoiceDate=datetime.datetime(2011, 12, 5, 8, 39), UnitPrice=4.15, CustomerID=18180.0, Country='United Kingdom'),
 Row(InvoiceNo='580540', StockCode='23497', Description='CLASSIC CHROME BICYCLE BELL ', Quantity=12, InvoiceDate=datetime.datetime(2011, 12, 5, 8, 49), UnitPrice=1.45, CustomerID=13417.0, Country='United Kingdom'),
 Row(InvoiceNo='580540', StockCode='23498', Description='CLASSIC BICYCLE CLIPS ', Quantity=12, InvoiceDate=datetime.datetime(2011, 12, 5, 8, 49), UnitPrice=1.45, CustomerID=13417.0, Country='United Kingdom'),
 Row(InvoiceNo='580540', StockCode='23552', Description='BICYCLE PUNCTURE REPAIR KIT ', Quantity=6, InvoiceDate=datetime.datetime(2011, 12, 5, 8, 49), UnitPrice=2.08, CustomerID=13417.0, Country='United Kingdom'),
 Row(InvoiceNo='580540', StockCode='22109', Description='FULL ENGLISH BREAKFAST PLATE', Quantity=4, InvoiceDate=datetime.datetime(2011, 12, 5, 8, 49), UnitPrice=3.75, CustomerID=13417.0, Country='United Kingdom'),
 Row(InvoiceNo='580540', StockCode='23556', Description='LANDMARK FRAME COVENT GARDEN ', Quantity=3, InvoiceDate=datetime.datetime(2011, 12, 5, 8, 49), UnitPrice=12.5, CustomerID=13417.0, Country='United Kingdom'),
 Row(InvoiceNo='580540', StockCode='23555', Description='LANDMARK FRAME NOTTING HILL ', Quantity=3, InvoiceDate=datetime.datetime(2011, 12, 5, 8, 49), UnitPrice=12.5, CustomerID=13417.0, Country='United Kingdom'),
 Row(InvoiceNo='580540', StockCode='23554', Description='LANDMARK FRAME OXFORD STREET', Quantity=3, InvoiceDate=datetime.datetime(2011, 12, 5, 8, 49), UnitPrice=12.5, CustomerID=13417.0, Country='United Kingdom'),
 Row(InvoiceNo='580540', StockCode='22466', Description='FAIRY TALE COTTAGE NIGHT LIGHT', Quantity=12, InvoiceDate=datetime.datetime(2011, 12, 5, 8, 49), UnitPrice=1.95, CustomerID=13417.0, Country='United Kingdom'),
 Row(InvoiceNo='580540', StockCode='23480', Description='MINI LIGHTS WOODLAND MUSHROOMS', Quantity=4, InvoiceDate=datetime.datetime(2011, 12, 5, 8, 49), UnitPrice=3.75, CustomerID=13417.0, Country='United Kingdom'),
 Row(InvoiceNo='580540', StockCode='23357', Description='HOT WATER BOTTLE SEX BOMB', Quantity=4, InvoiceDate=datetime.datetime(2011, 12, 5, 8, 49), UnitPrice=4.95, CustomerID=13417.0, Country='United Kingdom'),
 Row(InvoiceNo='580540', StockCode='23358', Description='HOT STUFF HOT WATER BOTTLE', Quantity=6, InvoiceDate=datetime.datetime(2011, 12, 5, 8, 49), UnitPrice=3.75, CustomerID=13417.0, Country='United Kingdom'),
 Row(InvoiceNo='580540', StockCode='22423', Description='REGENCY CAKESTAND 3 TIER', Quantity=1, InvoiceDate=datetime.datetime(2011, 12, 5, 8, 49), UnitPrice=12.75, CustomerID=13417.0, Country='United Kingdom'),
 Row(InvoiceNo='580540', StockCode='79321', Description='CHILLI LIGHTS', Quantity=4, InvoiceDate=datetime.datetime(2011, 12, 5, 8, 49), UnitPrice=5.75, CustomerID=13417.0, Country='United Kingdom'),
 Row(InvoiceNo='580540', StockCode='48194', Description='DOORMAT HEARTS', Quantity=4, InvoiceDate=datetime.datetime(2011, 12, 5, 8, 49), UnitPrice=8.25, CustomerID=13417.0, Country='United Kingdom'),
 Row(InvoiceNo='580540', StockCode='21523', Description='DOORMAT FANCY FONT HOME SWEET HOME', Quantity=2, InvoiceDate=datetime.datetime(2011, 12, 5, 8, 49), UnitPrice=8.25, CustomerID=13417.0, Country='United Kingdom'),
 Row(InvoiceNo='580540', StockCode='23283', Description='DOORMAT VINTAGE LEAF', Quantity=2, InvoiceDate=datetime.datetime(2011, 12, 5, 8, 49), UnitPrice=8.25, CustomerID=13417.0, Country='United Kingdom'),
 Row(InvoiceNo='580540', StockCode='23472', Description=' NINE DRAWER OFFICE TIDY', Quantity=2, InvoiceDate=datetime.datetime(2011, 12, 5, 8, 49), UnitPrice=14.95, CustomerID=13417.0, Country='United Kingdom'),
 Row(InvoiceNo='580540', StockCode='22457', Description='NATURAL SLATE HEART CHALKBOARD ', Quantity=6, InvoiceDate=datetime.datetime(2011, 12, 5, 8, 49), UnitPrice=2.95, CustomerID=13417.0, Country='United Kingdom'),
 Row(InvoiceNo='580541', StockCode='22436', Description='12 COLOURED PARTY BALLOONS', Quantity=20, InvoiceDate=datetime.datetime(2011, 12, 5, 9, 3), UnitPrice=0.65, CustomerID=15358.0, Country='United Kingdom'),
 Row(InvoiceNo='580541', StockCode='22439', Description='6 ROCKET BALLOONS ', Quantity=24, InvoiceDate=datetime.datetime(2011, 12, 5, 9, 3), UnitPrice=0.65, CustomerID=15358.0, Country='United Kingdom'),
 Row(InvoiceNo='580541', StockCode='22932', Description='BAKING MOULD TOFFEE CUP CHOCOLATE', Quantity=6, InvoiceDate=datetime.datetime(2011, 12, 5, 9, 3), UnitPrice=2.55, CustomerID=15358.0, Country='United Kingdom'),
 Row(InvoiceNo='580541', StockCode='23166', Description='MEDIUM CERAMIC TOP STORAGE JAR', Quantity=12, InvoiceDate=datetime.datetime(2011, 12, 5, 9, 3), UnitPrice=1.25, CustomerID=15358.0, Country='United Kingdom'),
 Row(InvoiceNo='580541', StockCode='23167', Description='SMALL CERAMIC TOP STORAGE JAR ', Quantity=12, InvoiceDate=datetime.datetime(2011, 12, 5, 9, 3), UnitPrice=0.83, CustomerID=15358.0, Country='United Kingdom'),
 Row(InvoiceNo='580541', StockCode='84692', Description='BOX OF 24 COCKTAIL PARASOLS', Quantity=25, InvoiceDate=datetime.datetime(2011, 12, 5, 9, 3), UnitPrice=0.42, CustomerID=15358.0, Country='United Kingdom'),
 Row(InvoiceNo='580541', StockCode='84380', Description='SET OF 3 BUTTERFLY COOKIE CUTTERS', Quantity=12, InvoiceDate=datetime.datetime(2011, 12, 5, 9, 3), UnitPrice=1.45, CustomerID=15358.0, Country='United Kingdom'),
 Row(InvoiceNo='580541', StockCode='23295', Description='SET OF 12 MINI LOAF BAKING CASES', Quantity=16, InvoiceDate=datetime.datetime(2011, 12, 5, 9, 3), UnitPrice=0.83, CustomerID=15358.0, Country='United Kingdom'),
 Row(InvoiceNo='580541', StockCode='22274', Description='FELTCRAFT DOLL EMILY', Quantity=6, InvoiceDate=datetime.datetime(2011, 12, 5, 9, 3), UnitPrice=2.95, CustomerID=15358.0, Country='United Kingdom'),
 Row(InvoiceNo='580541', StockCode='22750', Description='FELTCRAFT PRINCESS LOLA DOLL', Quantity=4, InvoiceDate=datetime.datetime(2011, 12, 5, 9, 3), UnitPrice=3.75, CustomerID=15358.0, Country='United Kingdom'),
 Row(InvoiceNo='580541', StockCode='20969', Description='RED FLORAL FELTCRAFT SHOULDER BAG', Quantity=8, InvoiceDate=datetime.datetime(2011, 12, 5, 9, 3), UnitPrice=3.75, CustomerID=15358.0, Country='United Kingdom'),
 Row(InvoiceNo='580541', StockCode='20972', Description='PINK CREAM FELT CRAFT TRINKET BOX ', Quantity=12, InvoiceDate=datetime.datetime(2011, 12, 5, 9, 3), UnitPrice=1.25, CustomerID=15358.0, Country='United Kingdom'),
 Row(InvoiceNo='580541', StockCode='22586', Description='FELTCRAFT HAIRBAND PINK AND BLUE', Quantity=12, InvoiceDate=datetime.datetime(2011, 12, 5, 9, 3), UnitPrice=0.85, CustomerID=15358.0, Country='United Kingdom'),
 Row(InvoiceNo='580541', StockCode='22566', Description='FELTCRAFT HAIRBAND PINK AND PURPLE', Quantity=12, InvoiceDate=datetime.datetime(2011, 12, 5, 9, 3), UnitPrice=0.85, CustomerID=15358.0, Country='United Kingdom'),
 Row(InvoiceNo='580541', StockCode='23188', Description='VINTAGE  2 METRE FOLDING RULER', Quantity=12, InvoiceDate=datetime.datetime(2011, 12, 5, 9, 3), UnitPrice=1.65, CustomerID=15358.0, Country='United Kingdom'),
 Row(InvoiceNo='580541', StockCode='22047', Description='EMPIRE GIFT WRAP', Quantity=25, InvoiceDate=datetime.datetime(2011, 12, 5, 9, 3), UnitPrice=0.42, CustomerID=15358.0, Country='United Kingdom'),
 Row(InvoiceNo='580541', StockCode='21495', Description='SKULLS AND CROSSBONES WRAP', Quantity=25, InvoiceDate=datetime.datetime(2011, 12, 5, 9, 3), UnitPrice=0.42, CustomerID=15358.0, Country='United Kingdom'),
 Row(InvoiceNo='580541', StockCode='22045', Description='SPACEBOY GIFT WRAP', Quantity=25, InvoiceDate=datetime.datetime(2011, 12, 5, 9, 3), UnitPrice=0.42, CustomerID=15358.0, Country='United Kingdom'),
 Row(InvoiceNo='580541', StockCode='23232', Description='WRAP VINTAGE LEAF DESIGN', Quantity=25, InvoiceDate=datetime.datetime(2011, 12, 5, 9, 3), UnitPrice=0.42, CustomerID=15358.0, Country='United Kingdom'),
 Row(InvoiceNo='580541', StockCode='23350', Description='ROLL WRAP VINTAGE SPOT ', Quantity=12, InvoiceDate=datetime.datetime(2011, 12, 5, 9, 3), UnitPrice=1.25, CustomerID=15358.0, Country='United Kingdom'),
 Row(InvoiceNo='580541', StockCode='23349', Description='ROLL WRAP VINTAGE CHRISTMAS', Quantity=12, InvoiceDate=datetime.datetime(2011, 12, 5, 9, 3), UnitPrice=1.25, CustomerID=15358.0, Country='United Kingdom'),
 Row(InvoiceNo='580541', StockCode='22026', Description='BANQUET BIRTHDAY  CARD  ', Quantity=12, InvoiceDate=datetime.datetime(2011, 12, 5, 9, 3), UnitPrice=0.42, CustomerID=15358.0, Country='United Kingdom'),
 Row(InvoiceNo='580541', StockCode='22027', Description='TEA PARTY BIRTHDAY CARD', Quantity=12, InvoiceDate=datetime.datetime(2011, 12, 5, 9, 3), UnitPrice=0.42, CustomerID=15358.0, Country='United Kingdom'),
 Row(InvoiceNo='580541', StockCode='22467', Description='GUMBALL COAT RACK', Quantity=6, InvoiceDate=datetime.datetime(2011, 12, 5, 9, 3), UnitPrice=2.55, CustomerID=15358.0, Country='United Kingdom'),
 Row(InvoiceNo='580541', StockCode='22962', Description='JAM JAR WITH PINK LID', Quantity=12, InvoiceDate=datetime.datetime(2011, 12, 5, 9, 3), UnitPrice=0.85, CustomerID=15358.0, Country='United Kingdom'),
 Row(InvoiceNo='580541', StockCode='22961', Description='JAM MAKING SET PRINTED', Quantity=12, InvoiceDate=datetime.datetime(2011, 12, 5, 9, 3), UnitPrice=1.45, CustomerID=15358.0, Country='United Kingdom'),
 Row(InvoiceNo='580541', StockCode='22584', Description='PACK OF 6 PANETTONE GIFT BOXES', Quantity=6, InvoiceDate=datetime.datetime(2011, 12, 5, 9, 3), UnitPrice=2.55, CustomerID=15358.0, Country='United Kingdom'),
 Row(InvoiceNo='580541', StockCode='23245', Description='SET OF 3 REGENCY CAKE TINS', Quantity=4, InvoiceDate=datetime.datetime(2011, 12, 5, 9, 3), UnitPrice=4.95, CustomerID=15358.0, Country='United Kingdom'),
 Row(InvoiceNo='580541', StockCode='22333', Description='RETROSPOT PARTY BAG + STICKER SET', Quantity=8, InvoiceDate=datetime.datetime(2011, 12, 5, 9, 3), UnitPrice=1.65, CustomerID=15358.0, Country='United Kingdom'),
 Row(InvoiceNo='580541', StockCode='22906', Description='12 MESSAGE CARDS WITH ENVELOPES', Quantity=12, InvoiceDate=datetime.datetime(2011, 12, 5, 9, 3), UnitPrice=1.65, CustomerID=15358.0, Country='United Kingdom'),
 Row(InvoiceNo='580541', StockCode='22567', Description='20 DOLLY PEGS RETROSPOT', Quantity=12, InvoiceDate=datetime.datetime(2011, 12, 5, 9, 3), UnitPrice=1.45, CustomerID=15358.0, Country='United Kingdom'),
 Row(InvoiceNo='580541', StockCode='21703', Description='BAG 125g SWIRLY MARBLES', Quantity=12, InvoiceDate=datetime.datetime(2011, 12, 5, 9, 3), UnitPrice=0.42, CustomerID=15358.0, Country='United Kingdom'),
 Row(InvoiceNo='580541', StockCode='22654', Description='DELUXE SEWING KIT ', Quantity=3, InvoiceDate=datetime.datetime(2011, 12, 5, 9, 3), UnitPrice=5.95, CustomerID=15358.0, Country='United Kingdom'),
 Row(InvoiceNo='580541', StockCode='22089', Description='PAPER BUNTING VINTAGE PAISLEY', Quantity=6, InvoiceDate=datetime.datetime(2011, 12, 5, 9, 3), UnitPrice=2.95, CustomerID=15358.0, Country='United Kingdom'),
 Row(InvoiceNo='580541', StockCode='21500', Description='PINK POLKADOT WRAP ', Quantity=25, InvoiceDate=datetime.datetime(2011, 12, 5, 9, 3), UnitPrice=0.42, CustomerID=15358.0, Country='United Kingdom'),
 Row(InvoiceNo='580541', StockCode='22745', Description="POPPY'S PLAYHOUSE BEDROOM ", Quantity=6, InvoiceDate=datetime.datetime(2011, 12, 5, 9, 3), UnitPrice=2.1, CustomerID=15358.0, Country='United Kingdom'),
 Row(InvoiceNo='580541', StockCode='22746', Description="POPPY'S PLAYHOUSE LIVINGROOM ", Quantity=6, InvoiceDate=datetime.datetime(2011, 12, 5, 9, 3), UnitPrice=2.1, CustomerID=15358.0, Country='United Kingdom'),
 Row(InvoiceNo='580541', StockCode='22196', Description='SMALL HEART MEASURING SPOONS', Quantity=12, InvoiceDate=datetime.datetime(2011, 12, 5, 9, 3), UnitPrice=0.85, CustomerID=15358.0, Country='United Kingdom'),
 Row(InvoiceNo='580541', StockCode='22082', Description='RIBBON REEL STRIPES DESIGN ', Quantity=10, InvoiceDate=datetime.datetime(2011, 12, 5, 9, 3), UnitPrice=1.65, CustomerID=15358.0, Country='United Kingdom'),
 Row(InvoiceNo='580541', StockCode='22077', Description='6 RIBBONS RUSTIC CHARM', Quantity=24, InvoiceDate=datetime.datetime(2011, 12, 5, 9, 3), UnitPrice=1.95, CustomerID=15358.0, Country='United Kingdom'),
 Row(InvoiceNo='580541', StockCode='85049E', Description='SCANDINAVIAN REDS RIBBONS', Quantity=12, InvoiceDate=datetime.datetime(2011, 12, 5, 9, 3), UnitPrice=1.25, CustomerID=15358.0, Country='United Kingdom'),
 Row(InvoiceNo='580541', StockCode='21679', Description='SKULLS  STICKERS', Quantity=12, InvoiceDate=datetime.datetime(2011, 12, 5, 9, 3), UnitPrice=0.85, CustomerID=15358.0, Country='United Kingdom'),
 Row(InvoiceNo='580541', StockCode='22332', Description='SKULLS PARTY BAG + STICKER SET', Quantity=8, InvoiceDate=datetime.datetime(2011, 12, 5, 9, 3), UnitPrice=1.65, CustomerID=15358.0, Country='United Kingdom'),
 Row(InvoiceNo='580541', StockCode='22617', Description='BAKING SET SPACEBOY DESIGN', Quantity=3, InvoiceDate=datetime.datetime(2011, 12, 5, 9, 3), UnitPrice=4.95, CustomerID=15358.0, Country='United Kingdom'),
 Row(InvoiceNo='580541', StockCode='22964', Description='3 PIECE SPACEBOY COOKIE CUTTER SET', Quantity=6, InvoiceDate=datetime.datetime(2011, 12, 5, 9, 3), UnitPrice=2.1, CustomerID=15358.0, Country='United Kingdom'),
 Row(InvoiceNo='580541', StockCode='22563', Description='HAPPY STENCIL CRAFT', Quantity=24, InvoiceDate=datetime.datetime(2011, 12, 5, 9, 3), UnitPrice=1.25, CustomerID=15358.0, Country='United Kingdom'),

In [84]:
type(df.collect())

list

`limit(num)` limits the result count to the specified number of rows

In [85]:
df.limit(10).collect()

[Row(InvoiceNo='580538', StockCode='23084', Description='RABBIT NIGHT LIGHT', Quantity=48, InvoiceDate=datetime.datetime(2011, 12, 5, 8, 38), UnitPrice=1.79, CustomerID=14075.0, Country='United Kingdom'),
 Row(InvoiceNo='580538', StockCode='23077', Description='DOUGHNUT LIP GLOSS ', Quantity=20, InvoiceDate=datetime.datetime(2011, 12, 5, 8, 38), UnitPrice=1.25, CustomerID=14075.0, Country='United Kingdom'),
 Row(InvoiceNo='580538', StockCode='22906', Description='12 MESSAGE CARDS WITH ENVELOPES', Quantity=24, InvoiceDate=datetime.datetime(2011, 12, 5, 8, 38), UnitPrice=1.65, CustomerID=14075.0, Country='United Kingdom'),
 Row(InvoiceNo='580538', StockCode='21914', Description='BLUE HARMONICA IN BOX ', Quantity=24, InvoiceDate=datetime.datetime(2011, 12, 5, 8, 38), UnitPrice=1.25, CustomerID=14075.0, Country='United Kingdom'),
 Row(InvoiceNo='580538', StockCode='22467', Description='GUMBALL COAT RACK', Quantity=6, InvoiceDate=datetime.datetime(2011, 12, 5, 8, 38), UnitPrice=2.55, CustomerID=14075.0, Country='United Kingdom'),
 Row(InvoiceNo='580538', StockCode='21544', Description='SKULLS  WATER TRANSFER TATTOOS ', Quantity=48, InvoiceDate=datetime.datetime(2011, 12, 5, 8, 38), UnitPrice=0.85, CustomerID=14075.0, Country='United Kingdom'),
 Row(InvoiceNo='580538', StockCode='23126', Description='FELTCRAFT GIRL AMELIE KIT', Quantity=8, InvoiceDate=datetime.datetime(2011, 12, 5, 8, 38), UnitPrice=4.95, CustomerID=14075.0, Country='United Kingdom'),
 Row(InvoiceNo='580538', StockCode='21833', Description='CAMOUFLAGE LED TORCH', Quantity=24, InvoiceDate=datetime.datetime(2011, 12, 5, 8, 38), UnitPrice=1.69, CustomerID=14075.0, Country='United Kingdom'),
 Row(InvoiceNo='580539', StockCode='21479', Description='WHITE SKULL HOT WATER BOTTLE ', Quantity=4, InvoiceDate=datetime.datetime(2011, 12, 5, 8, 39), UnitPrice=4.25, CustomerID=18180.0, Country='United Kingdom'),
 Row(InvoiceNo='580539', StockCode='84030E', Description='ENGLISH ROSE HOT WATER BOTTLE', Quantity=4, InvoiceDate=datetime.datetime(2011, 12, 5, 8, 39), UnitPrice=4.25, CustomerID=18180.0, Country='United Kingdom')]

`take(num)` returns just the first *num* rows as a list of Row objects

In [86]:
df.take(3)

[Row(InvoiceNo='580538', StockCode='23084', Description='RABBIT NIGHT LIGHT', Quantity=48, InvoiceDate=datetime.datetime(2011, 12, 5, 8, 38), UnitPrice=1.79, CustomerID=14075.0, Country='United Kingdom'),
 Row(InvoiceNo='580538', StockCode='23077', Description='DOUGHNUT LIP GLOSS ', Quantity=20, InvoiceDate=datetime.datetime(2011, 12, 5, 8, 38), UnitPrice=1.25, CustomerID=14075.0, Country='United Kingdom'),
 Row(InvoiceNo='580538', StockCode='22906', Description='12 MESSAGE CARDS WITH ENVELOPES', Quantity=24, InvoiceDate=datetime.datetime(2011, 12, 5, 8, 38), UnitPrice=1.65, CustomerID=14075.0, Country='United Kingdom')]

In [87]:
type(df.take(3))

list

If I just want the first row on top, I can do it this way.

In [88]:
df.first()

Row(InvoiceNo='580538', StockCode='23084', Description='RABBIT NIGHT LIGHT', Quantity=48, InvoiceDate=datetime.datetime(2011, 12, 5, 8, 38), UnitPrice=1.79, CustomerID=14075.0, Country='United Kingdom')

`toLocalIterator()` returns an iterator that contains all of the rows in this `DataFrame`. The iterator will consume as much memory as the largest partition in this `DataFrame`.

I think, that's enough for today.